<header class="headerWrapper">
    <div class="header">
        <div>
            <a class="terminal" href="{{ .Site.BaseURL }}">
                <span>~/{{ .Site.Params.user }}</span>
            </a>
        </div>
        <input class="side-menu" type="checkbox" id="side-menu">
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <nav class="headerLinks">
            <ul>
                <li>
                    <a target=”_blank” href="https://github.com/fabriciomaiablois" title="GitHub">
                        ~/GitHub
                    </a>
                </li>
                <li>
                    <a target=”_blank” href="https://linkedin.com/in/fabriciomaiablois" title="LinkedIn">
                        ~/LinkedIn
                    </a>
                </li>
                <li>
                    <a href="blog" title="Blog">
                        ~/Blog
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
